body {
    margin: 0px;
    overflow: hidden;
    background-color: rgb(41, 41, 41);
}

#game {
    position: absolute;
    z-index: -1;
}

#cards {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#cards div {
    margin: auto;
}

.upgrade {
    margin: 0px;
    display: inline-block;

    background-image: url("cards/2_of_diamonds.svg");
    width: 222px;
    height: 323px;

    text-align: center;
}

.upgrade:hover {
    box-shadow: 10px 10px;
}

.upgrade span {
    font-size: 25px;
}

#text {
    padding: 5px;
    font-size: 20px;

    position: absolute;
    bottom: 0px;
    background-color: gray;

    outline: solid black;
    margin: 10px
}

#text img {
    display: block;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 5px;
}

#text hr {
    margin-top: 1px;
    margin-bottom: 1px;
}